extends  ../_skeleton

block variables
  - var activeIndex = 8

block title
  title Grid gallery

block page
  // Page Header
  include ../sections/_header-default

  +breadcrumb-classic('images/bg-01.jpg', 'grid gallery',
  {
    0: {
      "title": "Home",
      "href": "./"
    },
    1: {
      "title": "Pages",
      "href": "#"
    },
    2: {
      "title": "grid gallery"
    }
  }
  )


  section.section-md.bg-white.text-center
    h2.text-spacing-0 Grid gallery
    .range.range-center.range-condensed
      .cell-xs-12
        .gallery-box(data-photo-swipe-gallery="gallery")
          // PhotoSwipe image
          a(data-photo-swipe-item='', data-size='1200x757', href='images/gallery-1-384x362_original.jpg').img-link
            img(src='images/gallery-1-384x362.jpg', width='384', height='362', alt='')

          // PhotoSwipe image
          a(data-photo-swipe-item='', data-size='1200x767', href='images/gallery-2-384x362_original.jpg').img-link
            img(src='images/gallery-2-384x362.jpg', width='384', height='362', alt='')


          // PhotoSwipe image
          a(data-photo-swipe-item='', data-size='800x1200', href='images/gallery-3-384x362_original.jpg').img-link
            img(src='images/gallery-3-384x362.jpg', width='384', height='362', alt='')

          // PhotoSwipe image
          a(data-photo-swipe-item='', data-size='1200x875', href='images/gallery-4-384x362_original.jpg').img-link
            img(src='images/gallery-4-384x362.jpg', width='384', height='362', alt='')

          // PhotoSwipe image
          a(data-photo-swipe-item='', data-size='1200x800', href='images/gallery-5-384x362_original.jpg').img-link
            img(src='images/gallery-5-384x362.jpg', width='384', height='362', alt='')

          // PhotoSwipe image
          a(data-photo-swipe-item='', data-size='1200x801', href='images/gallery-6-384x362_original.jpg').img-link
            img(src='images/gallery-6-384x362.jpg', width='384', height='362', alt='')

          // PhotoSwipe image
          a(data-photo-swipe-item='', data-size='1200x1000', href='images/gallery-7-384x362_original.jpg').img-link
            img(src='images/gallery-7-384x362.jpg', width='384', height='362', alt='')

          // PhotoSwipe image
          a(data-photo-swipe-item='', data-size='1200x800', href='images/gallery-8-384x362_original.jpg').img-link
            img(src='images/gallery-8-384x362.jpg', width='384', height='362', alt='')

          // PhotoSwipe image
          a(data-photo-swipe-item='', data-size='1200x862', href='images/gallery-9-384x362_original.jpg').img-link
            img(src='images/gallery-9-384x362.jpg', width='384', height='362', alt='')

          a(data-photo-swipe-item='', data-size='1200x780', href='images/gallery-10-384x362_original.jpg').img-link
            img(src='images/gallery-10-384x362.jpg', width='384', height='362', alt='')
    .range
      .cell-xs-12.text-center
        ul.pagination-custom
          li.disabled
            a(href='#').icon.mdi.material-icons-keyboard_backspace
          li.active
            a(href='#') 1
          li
            a(href='#') 2
          li
            a(href='#') 3
          li.dot
            a(href='#') 4
          li
            a(href='#') 15
          li
            a(href='#').icon.mdi.material-icons-keyboard_backspace




  // Page Footer
  include ../sections/_footer-default