extends  ../_skeleton

block variables
	- var activeIndex = 3

block title
	title Home

block page
	// Page Header
	include ../sections/_header-sidebar

	section
		.shell.text-md-left(style="height:5000px")

	// Page Footer
	include ../sections/_footer-default