//- progress - object{progress}
mixin progress-bar-linear(progress)
	//- Linear progress bar
	.progress-linear
		.progress-header
			div
				span.big.text-gray-darker.text-bold= progress.title
			div
				span.big.text-gray-darker.text-bold.progress-value= progress.valueTo
		.progress-bar-linear-wrap
			.progress-bar-linear