.rd-navbar-fluid.rd-navbar-static {
  .rd-navbar-inner {
    max-width: inherit;
  }
  .rd-navbar-brand {
    @media (min-width: $screen-md-min) and (max-width: 1299px) {
      img {
        width: 160px;
      }
    }
  }
  @media (min-width: $screen-md-min) {
    .rd-navbar-submenu-toggle {
      display: none;
    }
    .rd-navbar-megamenu {
      left: 50%;
      transform: translate(-50%, 30px);
    }
    .rd-navbar-megamenu,
    .rd-navbar-dropdown {
      margin-top: 20px;
      li {
        margin-left: 0;
        p{
          margin-bottom: 10px;
        }
      }
      a {
        font-family: $font-family-sec;
        color: $primary;
        background: transparent;
        &:hover {
          color: $gray-darker;
          background: transparent;
        }
      }
    }
    .rd-navbar-nav {
      > li.focus {
        .rd-navbar-megamenu {
          transform: translateX(-50%);
        }
      }
      > li {
        > a {
          border: 1px solid transparent;
          transition: 250ms all ease-in-out;
          font-size: 14px;
          &:hover {
            border: 1px solid #e5ebe8;
            color: $gray-dark;
          }
        }

      }

      li.active,
      li.focus {
        > a {
          border: 1px solid #e5ebe8;
          color: $gray-dark;
        }
      }
      > li + li {
        margin-left: 2px;
      }
    }
  }

  @media (min-width: $screen-lg-min) {
    .rd-navbar-nav {
      > li {
        & + li{
          margin-left: 8px;
        }
        > a {
          padding: 10px 15px;
          font-size: 16px;
        }
      }
    }
  }

  &.rd-navbar--is-stuck {
    .rd-navbar-megamenu,
    .rd-navbar-dropdown {
      margin-top: 10px;
    }
  }
  .rd-navbar-soc {
    a {
      &:hover {
        color: $gray-base-sec;
      }
    }
  }
}
