
section.section-md.bg-image-2.bg-dark
	.shell
		h2 Why Choose My Programs
		p.big.text-white.text-opacity-05.font-accent I offer a lot of advantages for your CrossFit and fitness practice. #[br.veil.reveal-md-inline] With my coaching, you’ll finally get the body you have always wanted just in 6 months!
		.range.range-xs-center
			.cell-xs-10.cell-sm-8.cell-md-12
				.range.range-xs-center.range-60
					.cell-xs-5.cell-md-3
						span.icon.icon-lg.thin-icon-briefcase-2
						+counter("Training courses", "", {
							"dataTo": "12",
							"dataSpeed": "3000",
							"attr": ""
						}, "heading-1")
					.cell-xs-5.cell-md-3
						span.icon.icon-lg.thin-icon-user
						+counter("Happy customers", "", {
							"dataTo": "352",
							"dataSpeed": "2500",
							"preffixStyle": "",
							"attr": ""
						}, "heading-1")
					.cell-xs-5.cell-md-3
						span.icon.icon-lg.thin-icon-timer
						+counter("Working hours", "", {
							"dataTo": "1480",
							"dataSpeed": "1500",
							"attr": ""
						}, "heading-1")
					.cell-xs-5.cell-md-3
						span.icon.icon-lg.thin-icon-satelite
						+counter("International awards", "", {
							"dataTo": "17",
							"dataSpeed": "1300",
							"preffixStyle": "",
							"attr": ""
						}, "heading-1")