footer.page-footer
  .bg-gray-4.section-xs.footer-center
    .shell
      .range.text-lg-left.range-30
        .cell-sm-12.cell-md-12.text-center
          a(href='index.html').brand-name
            img(src="images/brand-center.png", width="225", height="81", alt="")
        .cell-sm-8.cell-md-6.cell-lg-5
          .range.range-30
            .cell-xs-6.cell-lg-5
              address
                dl.big
                  dt.text-white.text-bold 227 Marion Street
                  dd Columbia, SC 29201
            .cell-xs-6
              dl.big
                dt.text-white.text-bold Mon - Sat 8.00 - 18.00
                dd Sunday CLOSED

        .cell-sm-4.cell-md-6.cell-lg-3.text-center.text-lg-left
          a(href='callto:#').heading-4.text-white #[span.text-gray-sec 1 (800)] 123 1234
          a(href='callto:#').heading-4.text-white #[span.text-gray-sec 1 (800)] 123 1235
        .cell-md-12.cell-lg-4
          .range.range-30.range-lg-10
            .cell-xs-3.cell-lg-6
              a(href='#').big.text-gray-sec #[span.icon.icon-xs.fa-facebook.text-primary] Facebook
            .cell-xs-3.cell-lg-6
              a(href='#').big.text-gray-sec #[span.icon.icon-xs.fa-google-plus.text-primary] Google+
            .cell-xs-3.cell-lg-6
              a(href='#').big.text-gray-sec #[span.icon.icon-xs.fa-linkedin.text-primary] LinkedIn
            .cell-xs-3.cell-lg-6
              a(href='#').big.text-gray-sec #[span.icon.icon-xs.fa-twitter.text-primary] Twitter


  .bg-dark-2.section-xxs
    .shell-fluid.text-center
      p.text-gray-sec Derick Mathews  &#169; #[span(id="copyright-year")].
        a(href="privacy-policy.html").text-gray-sec Privacy Policy
      block footerLink