header.page-header
	// RD Navbar
	.rd-navbar-wrap.rd-navbar-center
		nav.rd-navbar.rd-navbar-default(data-layout='rd-navbar-fixed', data-sm-layout='rd-navbar-fixed', data-md-layout='rd-navbar-fullwidth', data-md-device-layout='rd-navbar-fixed', data-lg-layout='rd-navbar-fullwidth', data-lg-device-layout="rd-navbar-fixed",  data-md-stick-up-offset="129px", data-lg-stick-up-offset="129px" data-stick-up='true' data-sm-stick-up='true' data-md-stick-up='true' data-lg-stick-up='true')


			.rd-navbar-inner
				// RD Navbar Panel
				.rd-navbar-panel
					// RD Navbar Toggle
					button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-nav-wrap')
						span
					// RD Navbar Brand
					.rd-navbar-brand
						a.brand-name(href='index.html')
							img(src="images/brand-center.png", width="225", height="81", alt="").brand-fullwidth
							img(src="images/brand.png", width="222", height="41", alt="").brand-fixed

				.rd-navbar-aside-right
					.rd-navbar-nav-wrap
						include ../_navigation-2

