// RD Navbar Nav
ul.rd-navbar-nav
	li(class=(activeIndex == 1 ? 'active' : ''))
		a(href='./') Home

	li(class=(activeIndex == 2 ? 'active' : ''))
		a(href='about.html') About
		// RD Navbar Dropdown
		ul.rd-navbar-dropdown
			li
				a(href='overview.html') Overview
			li
				a(href='testimonials.html') Testimonials
			li
				a(href='press.html') Press
			li
				a(href='faq.html') FAQ
	li(class=(activeIndex == 3 ? 'active' : ''))
		a(href='coaching.html') Coaching
		// RD Navbar Dropdown
		ul.rd-navbar-dropdown
			li
				a(href='adult-programs.html') Adult programs
			li
				a(href='one-to-one.html') One-to-one


	li(class=(activeIndex == 4 ? 'active' : ''))
		a(href='my-books.html') My books
		ul.rd-navbar-dropdown
			li
				a(href='single-book.html') Single book
	li(class=(activeIndex == 5 ? 'active' : ''))
		a(href='blog.html') Blog

		ul.rd-navbar-dropdown
			li
				a(href='single-post.html') Single post
	li(class=(activeIndex == 6 ? 'active' : ''))
		a(href='contacts.html') Contacts
	li(class=(activeIndex == 7 ? 'active' : ''))
		a(href='hire-me.html') Hire me
	li(class=(activeIndex == 8 ? 'active' : ''))
		a(href='site-map.html') Pages
		// RD Navbar Megamenu
		ul.rd-navbar-megamenu
			li
				p About
				ul
					li
						a(href='overview.html') Overview
					li
						a(href='testimonials.html') Testimonials
					li
						a(href='press.html') Press
					li
						a(href='faq.html') FAQ
			li
				p Pages 1
				ul
					li
						a(href='typography.html') Typography
					li
						a(href='tabs-and-accordions.html') Tabs and accordions
					li
						a(href='progress-bars.html') Progress Bars
					li
						a(href='tables.html') Tables
					li
						a(href='forms.html') Forms
					li
						a(href='buttons.html') Buttons
					li
						a(href='grid.html') Grid


			li
				p Pages 2
				ul
					li
						a(href='media.html') Media
					li
						a(href='grid-gallery.html') Grid gallery
					li
						a(href='team.html') Team
					li
						a(href='single-member.html') Single member

			li
				p Pages 3
				ul
					li
						a(href='404.html') 404 page
					li
						a(href='503.html') 503 page
					li
						a(href='maintenance.html') Maintenance(Under Construction)
					li
						a(href='coming-soon.html') Coming Soon
					li
						a(href='site-map.html') Site Map
					li
						a(href='privacy-policy.html') Privacy Policy

